@model MvcApp.Models.Client

@{
    ViewBag.Title = "GetClient";
}

<h2>GetClient</h2>


    <div class="form-group">
         @Html.DisplayNameFor(model => model.Surname):
        @Html.DisplayFor(model => model.Surname)
    </div>

    <div class="form-group">
         @Html.DisplayNameFor(model => model.FirstName):
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="form-group">
         @Html.DisplayNameFor(model => model.IDType):
        @Html.DisplayFor(model => model.IDType)
    </div>

    <div class="form-group">
         @Html.DisplayNameFor(model => model.IdNumber):
        @Html.DisplayFor(model => model.IdNumber)
    </div>

    <div class="form-group">
         @Html.DisplayNameFor(model => model.DateOfBirth):
        @Html.DisplayFor(model => model.DateOfBirth)
    </div>

        <div class="btn-group">
                <a href="@Url.Action("Index")" class="btn btn-xs btn-primary">
                    <i class="glyphicon glyphicon-info"></i>
                    List
                </a>
                <a href="@Url.Action("Edit", new {id = Model.Id})" class="btn btn-xs btn-primary">
                    <i class="glyphicon glyphicon-info"></i>
                    Edit
                </a>
            </div>


